/* ---- Content ---- */
.brochure-container {
    position: relative;
    height: 500px;
    width: 70%;
    margin-left: 15%;
}

.grey-heading {
    font-weight: 400;
    color: #555151;
    margin-top: 200px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.grey-heading span {
    font-weight: 700;
}

.check-point {
    color: #555151;
    font-size: 15px;
}

.check-point span {
    color: #000;
    margin-right: 20px;
}

#my-brochure {
    position: absolute;
    width: 500px;
    top: 168px;
    left: 50%;
}

.buttons.left {
    margin-top: 40px;
    justify-content: left;
}

.edge-btn-pink, .edge-btn-white {
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid #e75152;
    padding: 10px 20px;
    -webkit-box-shadow: 0 2px 5px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0 2px 5px -2px rgba(0,0,0,1);
    box-shadow: 0 2px 5px -2px rgba(0,0,0,1);
    transition: 0.3s ease;
}

.edge-btn-pink {
    background-color: #e75152;
    color: #fff;
    margin-right: 10px;
}

.edge-btn-pink:hover {
    background-color: #b34849;
}

.edge-btn-white {
    color: #e75152;
}

.edge-btn-white:hover {
    background-color: rgba(221, 78, 79, 0.23);
}

/* -- Grey Container -- */

.light-grey-box {
    background-color: #e5e5e5;
    height: 820px;
}

.arrow-container {
    text-align: center;
    padding: 20px 0;
    color: #7a7977;
    font-size: 20px;
}

.arrow-container p {
    width: 100px;
    margin: auto;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.arrow-container p:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
    cursor: pointer;
}

.service-container {
    width: 900px;
}

.basket {
    float: left;
    width: 20%;
    margin: 0 20px;
    padding: 10px;
    border: 1px solid lightgrey;
    -webkit-box-shadow: 0 2px 5px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0 2px 5px -2px rgba(0,0,0,1);
    box-shadow: 0 2px 5px -2px rgba(0,0,0,1);
    color: #545252;
}

.basket p {
    font-size: 13px;
}

.basket .button-pink, .basket .button-white {
    padding: 7px 35px;
}

#curr-package {
    font-size: 14px;
    font-weight: 700;
    color: #555151;
}

.price-label {
    width: 33%;
    display: inline-block;
}

#price {
    display: inline-block;
    width: 30%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #e75152;
}

.chosen-services {
    width: 72%;
    border: 1px solid lightgrey;
    float: left;
    -webkit-box-shadow: 0 2px 5px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0 2px 5px -2px rgba(0,0,0,1);
    box-shadow: 0 2px 5px -2px rgba(0,0,0,1);
}

.chosen-services h3, .chosen-services p {
    color: #545252;
    text-align: center;
}

.chosen-services h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.chosen-services p {
    font-size: 15px;
    margin-bottom: 20px;
}

.shortHr {
    width: 50%;
    border: 1px solid lightgrey;
}

.service-card {
    float: left;
    width: 30%;
    margin: 9px;
    border-radius: 3px;
    border: 1px solid lightgrey;
    background-color: white;
    -webkit-box-shadow: 0 2px 5px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0 2px 5px -2px rgba(0,0,0,1);
    box-shadow: 0 2px 5px -2px rgba(0,0,0,1);
}

.service-card:hover {
    cursor: pointer;
}

.service-card:hover .img {
    opacity: 1;
}

.service-card .img {
    width: 100%;
    height: 160px;
    background-size: cover;
    border-radius: 3px 3px 0 0;
    opacity: 0.8;
    transition: 0.5s ease;
}

.service-card h1 {
    font-size: 20px;
    font-weight: 700;
}

.service-card-desc {
    color: #545252;
    margin: 10px;
}

.service-card-desc p {
    font-size: 13px;
    text-align: left;
}

.service-card hr {
    width: 50%;
    border: 1px solid lightgrey;
    margin: 0 0 10px 0;
}

.service-card-desc a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #e75152;
}

.service-card-desc a:hover {
    background-color: rgba(238, 83, 84, 0.31);
}